.favorites__title {
    padding-bottom: 20px;

    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    color: var(--nav-link-color);
}

.favorites__text {
    padding-bottom: 60px;

    font-size: 14px;
    line-height: 1.14;
    text-align: center;

    color: var(--nav-link-color);
}