.hero {
  position: relative;
  padding-top: 60px;
  padding-bottom: 50px;

  background: #f5f5f5;

  @media screen and(min-width: 768px) {
    padding-bottom: 0;
  }
}

.title {
  margin-bottom: 28px;

  font-size: 28px;
  line-height: 1.17;

  @media screen and(min-width: 768px) {
    margin-bottom: 44px;

    font-size: 42px;
    line-height: 120%;
  }
}
.text {
  margin-bottom: 28px;

  font-size: 14px;
  line-height: 150%;
  @media screen and(min-width: 768px) {
    width: 336px;
    margin-bottom: 40px;

    font-size: 16px;
  }
}
.button {
  width: 100px;
  height: 32px;
  background: #bbf330;
  border-radius: 30px;
  border: none;
  cursor: pointer;

  font-size: 14px;
  line-height: 150%;
}

.slider {
  display: none;

  @media screen and(min-width:768px) {
    display: block;
    position: absolute;

    top: 149px;
    right: 40px;

    &__img {
      position: absolute;
      top: 15px;
      right: 12px;

      border-radius: 50%;
    }

    &__iconVectorLeft {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 46%;
      left: -10px;
      z-index: 14;
      width: 32px;
      height: 28px;
      padding: 0;

      cursor: pointer;

      border: none;
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
      border-radius: 4px;
    }

    &__iconVectorRight {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      top: 46%;
      right: -10px;
      z-index: 15;
      width: 32px;
      height: 28px;
      padding: 0;

      cursor: pointer;

      border: none;
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
      border-radius: 4px;

      &:hover,
      &:focus {
        fill: #7eb101;
      }
    }
  }
}
