:root {
    --font-family-roboto: "Roboto", sans-serif;
    --font-family-raleway: "Roboto+Flex", sans-serif;
    --background-color: #F5F5F5;
    --nav-link-color: #2C2C2C;
    --text-color: #505050;
}