<section id="customers" class="customers">
  <div class="container customers__container">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers_list">
      <li class="customers__item">
        <svg class="customers__svg">
          <use
            class="customers__icon"
            href="./images/icon.svg#icon_stars"
          ></use>
        </svg>
        <p class="customers__desc">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>

        <div class="client">
          <img
            srcset="
              ./images/customers/client_img-1.png     1x,
              ./images/customers/client_img-1_@2x.png 2x
            "
            class="client__img"
            src="./images/customers/client_img-1.png"
            alt="Image with young man"
            width="48"
            height="48"
          />
          <div class="thumb__desc">
            <h3 class="client__title">Sumith Shah</h3>
            <p class="client__text">Some Dude</p>
          </div>
        </div>
      </li>

      <li class="customers__item">
        <svg class="customers__svg">
          <use
            class="customers__icon"
            href="./images/icon.svg#icon_stars"
          ></use>
        </svg>
        <p class="customers__desc">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>

        <div class="client">
          <img
            srcset="
              ./images/customers/client_img-2.png     1x,
              ./images/customers/client_img-2_@2x.png 2x
            "
            class="client__img"
            src="./images/customers/client_img-2.png"
            alt="Image with young woman"
            width="48"
            height="48"
          />
          <div class="thumb__desc">
            <h3 class="client__title">Sumith Shah</h3>
            <p class="client__text">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
