<section class="favorites">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list list">
      <li class="favorites__item">
        <img
          srcset="
            ./images/favorites/favorites-1-223.png 223w,
            ./images/favorites/favorites-1-268.png 268w,
            ./images/favorites/favorites-1-315.png 315w,
            ./images/favorites/favorites-1-446.png 446w,
            ./images/favorites/favorites-1-536.png 536w,
            ./images/favorites/favorites-1-730.png 730w
          "
          sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 480px) 223px, 100vw"
          src="./images/favorites/favorites-1-223.png"
          alt="Image of Gamburger"
          width="315"
          height="315"
        />
      </li>

      <li class="favorites__item">
        <img
          srcset="
            ./images/favorites/favorites-2-223.png 223w,
            ./images/favorites/favorites-2-268.png 268w,
            ./images/favorites/favorites-2-315.png 315w,
            ./images/favorites/favorites-2-446.png 446w,
            ./images/favorites/favorites-2-536.png 536w,
            ./images/favorites/favorites-2-730.png 730w
          "
          sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 480px) 223px, 100vw"
          src="./images/favorites/favorites-2-223.png"
          alt="Image of Pasta"
          width="315"
          height="315"
        />
      </li>

      <li class="favorites__item">
        <img
          srcset="
            ./images/favorites/favorites-3-223.png 223w,
            ./images/favorites/favorites-3-268.png 268w,
            ./images/favorites/favorites-3-315.png 315w,
            ./images/favorites/favorites-3-446.png 446w,
            ./images/favorites/favorites-3-536.png 536w,
            ./images/favorites/favorites-3-730.png 730w
          "
          sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 480px) 223px, 100vw"
          src="./images/favorites/favorites-3-223.png"
          alt="Image of Pizza"
          width="315"
          height="315"
        />
      </li>

      <li class="favorites__item">
        <img
          srcset="
            ./images/favorites/favorites-4-268.png 268w,
            ./images/favorites/favorites-4-315.png 315w,
            ./images/favorites/favorites-4-536.png 536w,
            ./images/favorites/favorites-4-730.png 730w
          "
          sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 480px) 223px, 100vw"
          src="./images/favorites/favorites-4-268.png"
          alt="Image of Chiken with Rice"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites__item">
        <img
          srcset="
            ./images/favorites/favorites-5-268.png 268w,
            ./images/favorites/favorites-5-315.png 315w,
            ./images/favorites/favorites-5-536.png 536w,
            ./images/favorites/favorites-5-730.png 730w
          "
          sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 480px) 223px, 100vw"
          src="./images/favorites/favorites-5-268.png"
          alt="Image of Salat"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites__item">
        <img
          srcset="
            ./images/favorites/favorites-6-268.png 268w,
            ./images/favorites/favorites-6-315.png 315w,
            ./images/favorites/favorites-6-536.png 536w,
            ./images/favorites/favorites-6-730.png 730w
          "
          sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 480px) 223px, 100vw"
          src="./images/favorites/favorites-6-268.png"
          alt="Image of Borshch"
          width="315"
          height="315"
        />
      </li>
    </ul>
  </div>
</section>
