
    <header class="header" data-header>
        <div class="container header__container">
          <a class="logo header__logo line" href="">
            <svg class="logo__icon" width="66" height="52" aria-label="Food Sta">
              <use href="./images/icon.svg#logo"></use>
            </svg>
          </a>
          <button class="menu-btn" type="button" data-menu-open>
            <svg width="28" height="28">
              <use class="img-menu" href="./images/icon.svg#icon-gg_menu"></use>
            </svg>
          </button>
  
          <nav class="nav">
            <ul class="nav__list list">
              <li class="nav__item">
                <a class="nav__link nav__link--current line" href="">Home</a>
              </li>
              <li class="nav__item">
                <a class="nav__link line" href="">About</a>
              </li>
              <li class="nav__item">
                <a class="nav__link line" href="">Service</a>
              </li>
              <li class="nav__item">
                <a class="nav__link line" href="">Menu</a>
              </li>
              <li class="nav__item">
                <a class="nav__link line" href="">Contact</a>
              </li>
            </ul>
          </nav>
          
          <button
            class="header__btn btn"
            type="button"
            data-modal-open
          >
          Order Now
          </button>
        </div>
      </header>
