<!-- Igor Sokol -->
<section class="hero">
  <div class="container">
    <div class="info">
      <h1 class="title">Enjoy Your Favorite Food From Anywhere</h1>

      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <button type="button" class="button" data-modal-open-1>Order Now</button>
    </div>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="slider__img"
            srcset="
              ./images/hero/img/foto1-292.jpg   292w,
              ./images/hero/img/foto1-528.jpg   528w,
              ./images/hero/img/foto1-584.jpg   584w,
              ./images/hero/img/foto1-1056.jpg 1056w
            "
            src="./images/hero/img/foto1-292.jpg"
            sizes="
                (min-width: 1200px) 528px, 
                (min-width: 768px) 292px, 100vw"
            alt="plate with food"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="slider__img"
            srcset="
              ./images/hero/img/foto2-292.jpg   292w,
              ./images/hero/img/foto2-528.jpg   528w,
              ./images/hero/img/foto2-584.jpg   584w,
              ./images/hero/img/foto2-1056.jpg 1056w
            "
            src="./images/hero/img/foto1-292.jpg"
            sizes="
                (min-width: 1200px) 528px, 
                (min-width: 768px) 292px, 100vw"
            alt="plate with food"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="slider__img"
            srcset="
              ./images/hero/img/foto3-292.jpg   292w,
              ./images/hero/img/foto3-528.jpg   528w,
              ./images/hero/img/foto3-584.jpg   584w,
              ./images/hero/img/foto3-1056.jpg 1056w
            "
            src="./images/hero/img/foto1-292.jpg"
            sizes="
                (min-width: 1200px) 528px, 
                (min-width: 768px) 292px, 100vw"
            alt="plate with food"
          />
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
