<section id="offerings" class="section offerings__section">
  <div class="container offerings__container">
    <div class="apple">
      <div class="apple-thumb"></div>
      <div class="apple-tablet-md"></div>
      <div class="apple-tablet-sm"></div>
    </div>
    <div class="special-offerings">
      <div class="offerings">
        <h2 class="offerings__title">What’s Special About Our Offerings</h2>
        <p class="offerings__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          molestias recusandae quae rerum? Iste repellendus ad assumenda,
          nostrum corrupti, laborum asperiores voluptate, nemo debitis numquam
          quia sed officiis velit vero. Numquam.
        </p>
      </div>
      <ul class="special-list list">
        <li class="special-delive">
          <h3 class="special-delive__title">Fasest Delivery</h3>
          <p class="special-delive__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore
            voluptatum magnam fugiat aperiam.
          </p>
        </li>
        <li class="special-order">
          <h3 class="special-order__title">Fasest Delivery</h3>
          <p class="special-order__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore
            voluptatum magnam fugiat aperiam.
          </p>
        </li>
      </ul>

      <ul class="button-list list">
        <li class="button-list__order">
          <button type="submit" class="button-order" data-modal-open-2>
            Order Now
          </button>
        </li>
        <li class="button-list__more">
          <input type="checkbox" id="read-more" hidden="">
          <p class="extra-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed nihil provident corporis cum
            numquam
            accusamus. Dignissimos, dolores vitae voluptate, quam, neque provident impedit suscipit molestiae facilis
            dolorum fugit deleniti.</p>
          <label for="read-more" class="read-more">Read <span class="more">more ></span><span class="less">less</span></label>
        </li>

      </ul>
    </div>
  </div>
</section>
