<section class="section offerings__section">
  <div class="container offerings__container">
    <div class="apple">
    <div class="apple-thumb">
      <div class="apple-thumb__background"></div>
      <!-- <div class="apple-thumb__border"></div> -->
      <div class="apple-thumb__apple"></div>
      <div class="apple-thumb__shadow"></div>
    </div>
    <div class="apple-tablet-md"></div>
    <div class="apple-tablet-sm"></div>
    </div>
    <div class="special-offerings">
      <div class="offerings">
        <h2 class="offerings__title">What’s Special About Our Offerings</h2>
        <p class="offerings__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis molestias
          recusandae
          quae rerum? Iste repellendus ad assumenda, nostrum corrupti, laborum asperiores voluptate, nemo
          debitis numquam quia
          sed officiis velit vero. Numquam.</p>
      </div>
      <ul class="special-list list">
        <li class="special-item">
          <a class="special-item__link" href="" rel="noopener noreferrer">
            <svg class="special-item__icon" width="32" height="32">
              <use href="./images/icon.svg#icon-rocket"></use>
            </svg>
          </a>
          <h3 class="special-item__title">Fasest Delivery</h3>
          <p class="special-item__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore
            voluptatum magnam fugiat aperiam.</p>
        </li>
        <li class="special-item">
          <a class="special-item__link" href="" rel="noopener noreferrer">
            <svg class="special-item__icon" width="32" height="32">
              <use href="./images/icon.svg#icon-touch"></use>
            </svg>
          </a>
          <h3 class="special-item__title">Fasest Delivery</h3>
          <p class="special-item__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore
            voluptatum magnam fugiat
            aperiam.</p>
        </li>
      </ul>

      <ul class="button-list list">
        <li class="button-list__order">
          <button type="submit" class="button-order">Order Now
          </button>
        </li>
        <li class="button-list__more">
          <button type="submit" class="button-more">Read More >
          </button>
        </li>

      </ul>
    </div>
  </div>
</section>