<section class="section offerings__section">
  <div class="container offerings__container">
    <div class="apple">
      <div class="apple-thumb"></div>
      <div class="apple-tablet-md"></div>
      <div class="apple-tablet-sm"></div>
    </div>
    <div class="special-offerings">
      <div class="offerings">
        <h2 class="offerings__title">What’s Special About Our Offerings</h2>
        <p class="offerings__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          molestias recusandae quae rerum? Iste repellendus ad assumenda,
          nostrum corrupti, laborum asperiores voluptate, nemo debitis numquam
          quia sed officiis velit vero. Numquam.
        </p>
      </div>
      <ul class="special-list list">
        <li class="special-delive">
          <h3 class="special-delive__title">Fasest Delivery</h3>
          <p class="special-delive__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore
            voluptatum magnam fugiat aperiam.
          </p>
        </li>
        <li class="special-order">
          <h3 class="special-order__title">Fasest Delivery</h3>
          <p class="special-order__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore
            voluptatum magnam fugiat aperiam.
          </p>
        </li>
      </ul>

      <ul class="button-list list">
        <li class="button-list__order">
          <button type="submit" class="button-order" data-modal-open>
            Order Now
          </button>
        </li>
        <li class="button-list__more">
            <input type="checkbox" id="read-more" hidden="">
            <p class="extra-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed nihil provident corporis cum
              numquam
              accusamus. Dignissimos, dolores vitae voluptate, quam, neque provident impedit suscipit molestiae facilis
              dolorum fugit deleniti.</p>
            <label for="read-more" class="read-more">Read <span class="more">more ></span><span class="less">less</span></label>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Modal form -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <h2 class="modal__title">Order Form</h2>
    <form class="form" autocomplete="off">
      <div class="mailing">
        <div class="mailing-field">
          <label for="name" class="mailing-field__text">Name</label>
          <div class="field-input">
            <input class="field-input__text" type="text" name="name" id="name" placeholder="Your name" />
          </div>
        </div>
        <div class="mailing-field">
          <label for="tel" class="mailing-field__text">Phone number</label>
          <div class="field-input">
            <input class="field-input__text" type="tel" name="tel" id="tel" placeholder="+38(0_ _) _ _ _   _ _   _ _" />
          </div>
        </div>
        <div class="mailing-field">
          <label for="mail" class="mailing-field__text">E-mail</label>
          <div class="field-input">
            <input class="field-input__text" type="email" name="mail" id="mail" placeholder="example@gmail.com" />
          </div>
        </div>
        <div class="button-send">
          <button type="submit" class="button-send__modal">Send</button>
        </div>
      </div>
      <button class="modal-btn-close" data-modal-close>
        <svg class="modal-btn_icon" width="24" height="24">
          <use href="./images/icon.svg#modal_close"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
<script src="./modal.js"></script>