<section class="subscribe">
<div class="container subscribe__container">
  <picture>
    <source
      media="(min-width: 1280px)"
      srcset="./images/subscribe/png/banan@1x_lg.png 1x, ./images/subscribe/png/banan@2x_lg.png 2x"
    />
  
    <source
      media="(min-width: 768px)"
      srcset="./images/subscribe/png/banan@1x_md.png 1x, ./images/subscribe/png/banan@2x_md.png 2x"
    />
  
    <source
      media="(max-width: 767px)"
      srcset="./images/subscribe/png/banan@1x_sm.png 1x, ./images/subscribe/png/banan@2x_sm.png 2x"
    />
  
    <img class="banana-img" src="./images/subscribe/png/banan@1x_sm.png" alt="Banana" />
  </picture>
  

  <form class="subscribe-form">
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim 
        in eros elementum tristique.</p>
     <input class="subscribe-form-input" type="email" name="email" required placeholder="Enter your email"/>
     <svg class="subscribe-warning-icon" width="12" height="12" >
      <use href="./images/icon.svg#error"></use>
    </svg>
     <p class="subscribe-warning-notfication">Not a valid email address (example@email.com)</p>   
        <button class="subscribe__btn btn"
        type="submit">Subscribe</button>
      </form>   
      
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./images/subscribe/png/banan@1x_lg.png 1x, ./images/subscribe/png/banan@2x_lg.png 2x"
          />
          <img class="banana-img-desktop" src="./images/subscribe/png/banan@1x_lg.png" alt="Banana" />
        </picture>


</div>
</section>