<section class="subscribe">
<div class="container subscribe__container">
  <img
  class="banana-img"
  src="./images/subscribe/banan (1).jpg"
  alt="<Banana>"
  width="280"
  height="78"
/>
<div class="subscribe__left-side" >
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim 
        in eros elementum tristique.</p>

        <label class="subscribe-form-wrap">
      
              <input class="subscribe-form-input" type="email" placeholder="Enter your email"/>
            
            </label>
      
        <button class="subscribe__btn btn"
        type="button">Subscribe</button>
      </div>    
      <div>
       <ul>
        <img
        class="banana-img-desktop"
        src="./images/subscribe/banan (1).jpg"
        alt="<Banana>"
        width="600"
        height="266"
      />
    </ul>
      </div>
</div>
</section>