<div class="container">
    <h2>Subscribe To Get Special Offers</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim 
        in eros elementum tristique.</p>
            <label class="register-form-wrap">
                <textarea
                  class="register-form-message"
                  name="Email"
                  rows="5"
                  placeholder="Enter your email"
                ></textarea>
              </label>
        <button class="subscribe__btn btn"
        type="button">Subscribe</button>
        <img
                class="banana-img"
                src="./images/subscribe/babana.jpg"
                alt="<Банан>"
                width="280"
                height="78"
              />
</div>