.footer {
    padding-top: 64px;
    padding-bottom: 60px; 
    background-repeat: no-repeat;   
    background-size: contain;
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);


    @media screen and (max-width: 768px) {
        background-size: 116px, 253px, 104px;
        background-position: top 132px left, bottom center, right top;
        background-image: url(../images/footer/footerapple1x_mobile.png),
        url(../images/footer/footerbcgr@1x_mobile.png),
        url(../images/footer/footerorange@1x_mobile.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/footer/footerapple@2x_mobile.png), url(../images/footer/footerbcgr@2x_mobile.png), url(../images/footer/footerorange@2x_mobile.png);
        }  
    }
 
    @media screen and (min-width:768px) {
        padding-top: 100px;
        padding-bottom: 100px;
        background-size: 184px, 168px, 153px, 221px, 171px, 170px, 203px;
        background-position: bottom left, bottom left 153px, bottom left 233px, bottom right 233px, bottom right 111px, bottom right, right top;
        background-image: url(../images/footer/footerorange@1x_tablet.png), url(../images/footer/splashleft@1x_tablet.png), url(../images/footer/apple@1x_tablet.png), url(../images/footer/banana@1x_tablet.png), url(../images/footer/splashriht@1x_tablet.png), url(../images/footer/footerapple@1x_tablet.png), url(../images/footer/orange@1x_tablet.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/footer/footerorange@2x_tablet.png), url(../images/footer/splashleft@2x_tablet.png), url(../images/footer/apple@2x_tablet.png), url(../images/footer/banana@2x_tablet.png), url(../images/footer/splashriht@2x_tablet.png), url(../images/footer/footerapple@2x_tablet.png), url(../images/footer/orange@2x_tablet.png);
        }
    }

    @media screen and (min-width: 1280px) {
        background-size: 1280px;
        background-position: center bottom;
        background-image: url(../images/footer/footerbcgr@1x_desktop.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
         background-image: url(../images/footer/footerbcgr@2x_desktop.png);
        }
    }
}
.footer-maininfo {
    
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;

    @media screen and (min-width:768px) {
        align-items: center;
        margin-bottom: 100px;
        gap: 40px;
    }
    @media screen and (min-width: 1280px) {
        flex-wrap: nowrap;
        margin-bottom: 100px;
    }
}
.logo--footer {
    margin-right: 81px;
}
.footer-nav__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px; 
    
    @media screen and (min-width:768px) {
       flex-direction: row;
       gap: 28px;
       margin-bottom: 0; 
    }
}
.footer-nav__link {
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14);
    color: #000000;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--green);
      text-decoration: underline;
    }
}
.subscribe-footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;

    @media screen and (min-width:768px) {
        display: inline-block;   
    }
    @media screen and (min-width:1280px) {
        width: 410px;
        margin-left: auto;
    }
   
}
.subscribe-footer__title {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #2C2C2C;
    margin-bottom: 12px; 
    
}

.subscribe-footer__input {
    margin-bottom: 20px;
    width: 100%;
    height: 42px;
    padding: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    outline: transparent;
    background-color: #FFFFFF;
    color: #505050;
    border: 0.854167px solid #FFE550;
    border-radius: 30px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:768px) {
        width: 279px;
        margin-right: 13px;  
        margin-bottom: 0;
    }

&:hover,
&:active,
&:focus {
  border-color: #7EB101;
  }
}
.subscribe-footer__input:not(:placeholder-shown):required:valid {
    border-color:  #7EB101;
}
.subscribe-footer__input:not(:placeholder-shown):required:invalid {
    border-color: #FF705D;
}

.subscribe-footer__input:invalid:required:not(:placeholder-shown) ~
  .warning-icon {
  opacity: 1;
}

.subscribe-footer__input:invalid:required:not(:placeholder-shown) ~
  .warning-notfication {
  opacity: 1;
}

.warning-notfication {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #FF705D;
}
.warning-icon,
.warning-notfication {
    fill: #FF705D;
    position: absolute;
    top: 80px;
    left: 5px;
    opacity: 0;
    @media screen and (max-width:768px) {
        top: 76px;
    }
}
.warning-notfication {
    left: 22px;
}
.subscribe-footer__btn {
    display: inline-flex;
    align-self: flex-end;
    width: 103px;
    height: 42px;
    padding: 11px 22px;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    font-family: inherit;
    color: var(--nav-link-color);
    border: 0.854167px solid #7EB101;
    border-radius: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:active,
&:focus {
    background-color:#FFE550;
    }
}
.agreement {
    font-weight: 400;
    font-size: 10px;
    line-height: calc(12/10);
    color: var(--nav-link-color);
    margin-top: 20px;

    @media screen and (min-width:768px) {
        font-size: 12px;
        line-height: calc(14/12);
    }

&__link {
    color: #7EB101;
    text-decoration: underline;
}
}
.footer-addinfo {
  
    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: baseline;
          
    }
    
&__list { 
    display: flex;
    gap: 32px;
    margin-bottom: 40px;
    justify-content: space-around;

    @media screen and (min-width:768px) {
        margin-bottom: 0;
    }
}
&__link {
    font-weight: 400;
    font-size: 9px;
    line-height: calc(12/10);
    color: #7EB101;
    text-decoration: underline;

    @media screen and (min-width:768px) {
        padding: 10px;
        font-size: 12px;
        line-height: calc(14/12);
    }
}
}
.copy {
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    line-height: calc(12/10);
    color: var(--nav-link-color);

    @media screen and (min-width:768px) {
        font-size: 12px;
        line-height: calc(14/12);
    }
}