/** @format */

.hero {
  padding-top: 60px;
  padding-bottom: 50px;

  @media screen and(min-width: 768px) {
    padding-bottom: 0;
  }
  @media screen and(min-width: 1280px) {
    padding-top: 159px;
  }
}
.container {
  position: relative;
}
.info {
  @media screen and(min-width: 768px) {
    max-width: 532px;
  }
}
.title {
  margin-bottom: 28px;

  font-size: 28px;
  line-height: 1.17;

  @media screen and(min-width: 768px) {
    margin-bottom: 44px;

    font-size: 42px;
    line-height: 120%;
  }
  @media screen and(min-width: 1280px) {
    font-size: 48px;
  }
}
.text {
  margin-bottom: 28px;

  font-size: 14px;
  line-height: 150%;

  @media screen and(min-width: 768px) {
    max-width: 336px;
    margin-bottom: 40px;

    font-size: 16px;
  }
  @media screen and(min-width: 1280px) {
    max-width: 502px;
  }
}
.button {
  width: 100px;
  height: 32px;
  background: var(--green);
  border-radius: 30px;
  border: none;
  cursor: pointer;

  font-size: 14px;
  line-height: 150%;
  transition: background var(--timing-function);
  &:hover,
  &:focus {
    background: var(--green-hover);
  }
}

.swiper {
  display: none;

  @media screen and(min-width:768px) {
    position: absolute;
    display: block;

    top: 89px;
    right: 40px;
    max-width: 320px;
    min-height: 320px;
    border-radius: 50%;
    border: 14px solid var(--default-yellow);
    &:hover,
    &:focus {
      border: 14px solid var(--green);
    }
  }
  @media screen and(min-width: 1280px) {
    top: -145px;
    right: 32px;
    max-width: 580px;
    border: 26px solid var(--default-yellow);
    &:hover,
    &:focus {
      border: 26px solid var(--green);
    }
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__img {
  border-radius: 50%;
}
.swiper-button-next {
  display: none;
  @media screen and(min-width:768px) {
    display: flex;
    top: 255px;
    right: 32px;

    width: 34px;
    height: 28px;

    color: currentColor;
    border: none;
    background: var(--white);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    transition: color var(--timing-function);

    cursor: pointer;
    &:hover,
    s &:focus {
      color: var(--dark-green);
    }
    @media screen and(min-width: 1280px) {
      right: 16px;
      top: 50%;
      width: 48px;
      height: 40px;
    }
  }
}
.swiper-button-prev {
  display: none;
  @media screen and(min-width:768px) {
    display: flex;
    left: 400px;
    top: 255px;

    width: 34px;
    height: 28px;
    color: currentColor;
    cursor: pointer;

    border: none;
    background: var(--white);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;

    transition: color var(--timing-function);
    &:hover,
    &:focus {
      color: var(--dark-green);
    }
  }
  @media screen and(min-width: 1280px) {
    top: 50%;
    left: 657px;
    width: 48px;
    height: 40px;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 21px;
  @media screen and(min-width: 1280px) {
    font-size: 30px;
  }
}
