.offerings__section {
    max-width: 1280px;
    margin: 0 auto;
    
    background-image:
        url(../images/offerings/Rectangle\ @1x_sm.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image:
            url(../images/offerings/Rectangle\ @2x_sm.png);
    }

    @media screen and(min-width: 768px) {
        background-image:
            url(../images/offerings/Rectangle\ @1x_md.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url(../images/offerings/Rectangle\ @2x_md.png);
        }

        @media screen and(min-width: 1199px) {
            background-image:
                url(../images/offerings/Rectangle\ @1x_lg.png);

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    url(../images/offerings/Rectangle\ @2x_lg.png);
            }
        }
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    padding-bottom: 60px;

    // margin: 0 auto;
}

.offerings__container {
    padding-top: 41px;

    @media screen and (min-width: 1280px) {
        display: flex;
        padding-top: 260px;
        gap: 90px;
        margin: 0 auto;
        align-items: center;
    }

    @media screen and(min-width: 768px) and (max-width: 1280px) {
        padding-top: 150px;
    }
}

.apple-thumb {
    display: flex;
    width: 280px;
    height: 309px;
    align-items: flex-end;
    justify-content: center;
    position: relative;

    margin: 0 auto;

    border: 0.5px solid black;

    @media screen and(min-width: 768px) and (max-width: 1280px) {
        margin: 0;
    }

    &__background {
        position: absolute;
        z-index: 1;
        bottom: 12px;

        width: 255px;
        height: 255px;
        border-radius: 50%;
        background-color: #FEFEFE;
    }

    &__border {
        position: absolute;
        z-index: 2;

        display: flex;
        width: 280px;
        height: 280px;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        border: 3px solid rgba($color: #FFFFFF, $alpha: 0.5);
    }

    &__apple {
        width: 201px;
        height: 309px;

        position: absolute;
        z-index: 3;

        background-image: url(../images/offerings/aple@1x_sm.png),
            url(../images/offerings/Ellipse\ 4@1x_sm.png);

        background-position: center bottom 53px, center bottom 16px;
        background-repeat: no-repeat;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url(../images/offerings/aple@2x_sm.png),
                url(../images/offerings/Ellipse\ 4@2x_sm.png);
        }

        background-size: 100%;
    }

    @media screen and (min-width: 768px) {
        width: 357px;
        height: 394px;

        &__background {
            position: absolute;
            z-index: 1;
            bottom: 16px;

            width: 325px;
            height: 325px;
            border-radius: 50%;
            background-color: #FEFEFE;
        }

        &__border {
            position: absolute;
            z-index: 2;

            display: flex;
            width: 357px;
            height: 357px;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
            border: 3px solid rgba($color: #FFFFFF, $alpha: 0.5);
        }

        &__apple {
            width: 257px;
            height: 400px;

            position: absolute;
            z-index: 3;

            background-image: url(../images/offerings/aple@1x_md.png),
                url(../images/offerings/Ellipse\ 4@1x_md.png);

            background-position: center bottom 68px, center bottom 20px;
            background-repeat: no-repeat;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    url(../images/offerings/aple@2x_md.png),
                    url(../images/offerings/Ellipse\ 4@2x_md.png);
            }

            background-size: 100%;
        }

    }

    @media screen and (min-width: 1280px) {
        width: 550px;
        height: 604px;

        &__background {
            position: absolute;
            z-index: 1;
            bottom: 24px;

            width: 502px;
            height: 502px;
            border-radius: 50%;
            background-color: #FEFEFE;
        }

        &__border {
            position: absolute;
            z-index: 2;

            display: flex;
            width: 550px;
            height: 550px;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
            border: 3px solid rgba($color: #FFFFFF, $alpha: 0.5);
        }

        &__apple {
            width: 396px;
            height: 560px;

            position: absolute;
            z-index: 3;

            background-image: url(../images/offerings/aple@1x_lg.png),
                url(../images/offerings/Ellipse\ 4@1x_lg.png);

            background-position: center bottom 102px, center bottom 26px;
            background-repeat: no-repeat;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    url(../images/offerings/aple@2x_lg.png),
                    url(../images/offerings/Ellipse\ 4@2x_lg.png);
            }

            background-size: 100%;
        }
    }
}

.special-offerings {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    gap: 28px;

    @media screen and (min-width: 1280px) {
        padding: 0;
    }
}

.offerings {
    // margin-bottom: 28px;

    @media screen and (min-width: 768px) {
        width: 526px;
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.2;

        color: #2C2C2C;

        @media screen and (min-width: 768px) {
            font-size: 42px;
            line-height: 1.2;
        }

        @media screen and (min-width: 1280px) {
            line-height: 120%;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;

        color: #2C2C2C;

        margin-top: 20px;

        @media screen and (min-width: 768px) {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.2;
        }

        @media screen and (min-width: 1280px) {
            line-height: 150%;
        }
    }
}

.special-list {
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 116px;
    }

    @media screen and (min-width:1280px) {
        gap: 67px;
    }
}

.special-item {
    margin-bottom: 28px;

    &:last-child {
        margin: 0;
    }

    @media screen and (min-width: 768px) {
        width: 252px;
        margin: 0;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;

        background-color: white;

        margin-bottom: 8px;
    }

    &__icon {
        fill: #7EB101;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;

        margin-bottom: 16px;

        @media screen and (min-width: 1280px) {
            line-height: 140%;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;

        color: #2C2C2C;

        @media screen and (min-width: 1280px) {
            line-height: 150%;
        }
    }
}

.button-list {
    display: flex;
    gap: 24px;
}

.button-order {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    width: 106px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #7EB101;

    background-color: #FEFEFE;
}

.button-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;

    position: absolute;
    width: 100px;
    height: 33px;

    border: none;

    background-color: inherit;

    @media screen and (min-width: 1280px) {
        display: none;
    }
}