.offerings__section {
    max-width: 1280px;
    margin: 0 auto;
    
    background-image:
        url(../images/offerings/Rectangle\ @1x_sm.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image:
            url(../images/offerings/Rectangle\ @2x_sm.png);
    }

    @media screen and(min-width: 768px) {
        background-image:
            url(../images/offerings/Rectangle\ @1x_md.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url(../images/offerings/Rectangle\ @2x_md.png);
        }

        @media screen and(min-width: 1280px) {
            background-image:
                url(../images/offerings/Rectangle\ @1x_lg.png);

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    url(../images/offerings/Rectangle\ @2x_lg.png);
            }
        }
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    padding-bottom: 60px;
}

.offerings__container {
    padding-top: 41px;

    @media screen and (min-width: 1280px) {
        display: flex;
        padding-top: 260px;
        gap: 90px;
        margin: 0 auto;
        align-items: center;
    }

    @media screen and(min-width: 768px) and (max-width: 1280px) {
        padding-top: 150px;
    }
}

.apple {
    display: flex;
    align-items: flex-end;
}

.apple-thumb {
    display: flex;
    width: 280px;
    height: 309px;
    align-items: flex-end;
    justify-content: center;
    position: relative;

    margin: 0 auto;

    @media screen and(min-width: 768px) and (max-width: 1280px) {
        margin: 0;
    }

    &__background {
        position: absolute;
        z-index: 1;
        bottom: 12px;

        width: 255px;
        height: 255px;
        border-radius: 50%;
        background-color: #FEFEFE;

        outline: 3px solid rgba(255, 255, 255, 0.5);
        outline-offset: 12px;
    }

    // &__border {
    //     position: absolute;
    //     z-index: 2;

    //     display: flex;
    //     width: 280px;
    //     height: 280px;
    //     align-items: center;
    //     justify-content: center;

    //     border-radius: 50%;
    //     border: 3px solid rgba($color: #FFFFFF, $alpha: 0.5);
    // }

    &__apple {
        width: 201px;
        height: 255px;
        margin-bottom: 53px;

        position: absolute;
        z-index: 4;

        background-image: url(../images/offerings/aple@1x_sm.png);

        background-repeat: no-repeat;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url(../images/offerings/aple@2x_sm.png);
        }

        background-size: 100%;
    }

    &__shadow {
        width: 128px;
        height: 44px;
        margin-bottom: 38px;
    
        background: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
        filter: blur(16.8764px);
    
        position: absolute;
        z-index: 3;
    }

    @media screen and (min-width: 768px) {
        width: 357px;
        height: 394px;

        &__background {
            position: absolute;
            z-index: 1;
            bottom: 16px;

            width: 325px;
            height: 325px;
            border-radius: 50%;
            background-color: #FEFEFE;

            outline: 3px solid rgba(255, 255, 255, 0.5);
            outline-offset: 16px;
        }

        // &__border {
        //     position: absolute;
        //     z-index: 2;

        //     display: flex;
        //     width: 357px;
        //     height: 357px;
        //     align-items: center;
        //     justify-content: center;

        //     border-radius: 50%;
        //     border: 3px solid rgba($color: #FFFFFF, $alpha: 0.5);
        // }

        &__apple {
            width: 257px;
            height: 325px;
            margin-bottom: 68px;

            position: absolute;
            z-index: 4;

            background-image: url(../images/offerings/aple@1x_md.png);

            background-repeat: no-repeat;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    url(../images/offerings/aple@2x_md.png);
            }

            background-size: 100%;
        }

        &__shadow {
            width: 164px;
            height: 56px;
            margin-bottom: 49px;

            background: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
                filter: blur(16.8764px);

            position: absolute;
            z-index: 3;
        }
    }

    @media screen and (min-width: 1280px) {
        width: 550px;
        height: 604px;

        &__background {
            position: absolute;
            z-index: 1;
            bottom: 24px;

            width: 502px;
            height: 502px;
            border-radius: 50%;
            background-color: #FEFEFE;

            outline: 3px solid rgba(255, 255, 255, 0.5);
            outline-offset: 24px;
        }

        // &__border {
        //     position: absolute;
        //     z-index: 2;

        //     display: flex;
        //     width: 550px;
        //     height: 550px;
        //     align-items: center;
        //     justify-content: center;

        //     border-radius: 50%;
        //     border: 3px solid rgba($color: #FFFFFF, $alpha: 0.5);
        // }

        &__apple {
            width: 396px;
            height: 502px;
            margin-bottom: 102px;

            position: absolute;
            z-index: 4;

            background-image: url(../images/offerings/aple@1x_lg.png);

            background-repeat: no-repeat;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    url(../images/offerings/aple@2x_lg.png);
            }

            background-size: 100%;
        }

        &__shadow {
            width: 252px;
            height: 87px;
            margin-bottom: 75px;

            background: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
                filter: blur(16.8764px);

            position: absolute;
            z-index: 3;
        }
    }
}

.apple-tablet-md {
    @media screen and (max-width: 768px), (min-width: 1280px) {
        display: none;
    }

    width: 166px;
    height: 211px;
    margin-left: 28px;
    margin-bottom: 68px;

    background-image: url(../images/offerings/Apple@1x_md.png);

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url(../images/offerings/Apple@2x_md.png);
        }
    
    background-size: 100%;
}

.apple-tablet-sm {
    @media screen and (max-width: 768px), (min-width: 1280px) {
            display: none;
        }

    width: 108px;
    height: 136px;
    margin-left: 44px;
    margin-bottom: 68px;

    background-image: url(../images/offerings/Apple@1x_md_1.png);
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url(../images/offerings/Apple@2x_md_1.png);
        }

    background-size: 100%;
}

.special-offerings {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    gap: 28px;

    @media screen and (min-width: 1280px) {
        padding: 0;
    }
}

.offerings {

    @media screen and (min-width: 768px) {
        width: 526px;
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.2;

        color: #2C2C2C;

        @media screen and (min-width: 768px) {
            font-size: 42px;
            line-height: 1.2;
        }

        @media screen and (min-width: 1280px) {
            line-height: 120%;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;

        color: #2C2C2C;

        margin-top: 20px;

        @media screen and (min-width: 768px) {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.2;
        }

        @media screen and (min-width: 1280px) {
            line-height: 150%;
        }
    }
}

.special-list {
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 116px;
    }

    @media screen and (min-width:1280px) {
        gap: 67px;
    }
}

.special-item {
    margin-bottom: 28px;

    &:last-child {
        margin: 0;
    }

    @media screen and (min-width: 768px) {
        width: 252px;
        margin: 0;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;

        background-color: white;

        margin-bottom: 8px;
    }

    &__icon {
        fill: #7EB101;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;

        margin-bottom: 16px;

        @media screen and (min-width: 1280px) {
            line-height: 140%;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;

        color: #2C2C2C;

        @media screen and (min-width: 1280px) {
            line-height: 150%;
        }
    }
}

.button-list {
    display: flex;
    gap: 24px;
}

.button-order {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    width: 106px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #7EB101;

    background-color: #FEFEFE;
}

.button-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;

    position: absolute;
    width: 100px;
    height: 33px;

    border: none;

    background-color: inherit;

    @media screen and (min-width: 1280px) {
        display: none;
    }
}