.subscribe{
 
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 64px;

    @media screen and (min-width: 768px) {
      max-width: 768px;
     
  }

  @media screen and (min-width: 1280px) {
      max-width: 1280px;
  }
}

.subscribe__container{ 
  display: inline-block;
      
      @media screen and (min-width: 1280px) {
        display: flex;
          
      }
    
}


.subscribe-form {
  position: relative;
  display: inline-block;
  margin-top: 17px;

  @media screen and (min-width: 768px) {
      display: inline-block;}

      @media screen and (min-width: 1280px) {
        margin-top: -60px;;
      }
  

}

.subscribe__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.21;

    @media screen and (max-width: 767px) {
        max-width: 100%;
    }

    @media screen and (min-width: 768px) {
        font-size: 42px;
        line-height: 1.23;
    }
}

.subscribe__text {
    font-size: 14px;
    line-height: 1.14;

    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
        max-width: 656px;
    }

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.18;
    }
}

.subscribe-form-input {
  width: 100%;
  
  @media screen and (min-width: 768px) {
    width: 395px;
}
  border: 0.854167px solid #FFE550;
  padding: 12px;
  border-radius: 30px;

  outline: transparent;
  margin-bottom: 20px;
}

.subscribe-form-input:not(:placeholder-shown):required:valid {
  border-color:  #7EB101;
}
.subscribe-form-input:not(:placeholder-shown):required:invalid {
  border-color: #FF705D;
}

.subscribe-form-input:invalid:required:not(:placeholder-shown) ~
.subscribe-warning-icon {
opacity: 1;
}

.subscribe-form-input:invalid:required:not(:placeholder-shown) ~
.subscribe-warning-notfication {
opacity: 1;
}

.subscribe-warning-notfication {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #FF705D;
}

.subscribe-warning-icon,
.subscribe-warning-notfication {
  fill: #FF705D;
  position: absolute;
 
  left: 5px;
  opacity: 0;

}

.subscribe-warning-icon{
margin-top: 50px;
}
.subscribe-warning-notfication {

  left: 22px;
  margin-top: -15px;
}


  .subscribe__btn{
    display: block;
    margin-left: auto;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        display: inline-block;
        margin-left: 32px;
    }

  padding: 11px 22px;

  font-weight: 500;
    font-size: 13px;
    line-height: 1.53;

    color: #2C2C2C;
  }


  
 
  .banana-img{
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;

    @media screen and (min-width: 780px) {
        margin-right: 0;
    }
  @media screen and (min-width: 1280px) {
    display: none;

  }
  }

  
  .banana-img-desktop{
    margin-top: -100px;
    @media screen and (max-width: 1279px) {
        display: none;
        
    }
  }


  .subscribe-form-input:not(:placeholder-shown):required:valid {
    border-color:  #7EB101;
 
&:not(:placeholder-shown):required:invalid {
    border-color: #FF705D;
    }
}